.wrapper {
  width: 100%;
  overflow-x: scroll;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.see_more {
  font-size: 14px;
  cursor: pointer;
}
.see_more:hover {
  text-decoration: underline;
}
/* Đối tượng cuộn */
::-webkit-scrollbar {
  height: 2px; /* Chiều cao của thanh trượt ngang */
}

/* Nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thanh cuộn */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Khi hover vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
